@{
    ViewBag.Title = "Home Page";

    var workItemGrid = new WebGrid(canPage: true, rowsPerPage: ViewBag.PageSize);
    workItemGrid.Bind(ViewBag.WorkItems, rowCount: ViewBag.WorkItemCount, autoSortAndPage: false);
    workItemGrid.Pager(WebGridPagerModes.NextPrevious);
}

<div>@ViewBag.WorkItemCount Work Items.</div>

@workItemGrid.GetHtml(
    columns: workItemGrid.Columns(
        workItemGrid.Column("Id"),
        workItemGrid.Column("Title"),
        workItemGrid.Column("Description"),
        workItemGrid.Column("Created Date", format: item => item.CreatedDate.ToString("dd MMM yyyy"))
    )
)
